{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        {# Page main title #}
        <h1 class="my-4">{{ title }}</h1>

        {# List post if True, or show message. #}
        {% if posts %}
          {% for post in posts  %}
            <div class="row">
              <div class="col-sm-12 my-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    {# Delete button and it's confirmation message #}
                    <span class="btn btn-danger float-right mx-2"
                      data-toggle="modal" data-target="#deleteModal">
                      Delete forever
                    </span>
                    {# Delete modal structure #}
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          {# Warning message #}
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                            Are you sure to delete <a href="{{ post.get_absolute_url }}"><b>{{ post.title }}</b></a>
                            </h5>
                            {# Close modal icon #}
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-footer">
                            {# Close modal button #}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep and dismiss</button>
                            {# Confirm deletion button #}
                            <a href="{{ post.get_delete_url }}" role="button" class="btn btn-danger">Delete forever</a>
                          </div>
                        </div>
                      </div>
                    </div>

                    {# Update post button #}
                    <a href="{{ post.get_update_url }}" role="button" class="btn btn-success float-right mx-2">Update Post</a>

                    {# Go to post details button #}
                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        {# Message to show if there is no posts, or no match on search #}
        {% else %}
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h1 class="card-title">Sorry, there is no match.</h1>
              <p class="card-text">
                You don't have any posts, <a href="{% url 'post_home_page' %}">create post.</a>
              </p>
            </div>
          </div>
        {% endif %}

        {# Paginate the posts #}
        {% include "includes/paginator.html" with posts=posts %}
      </div> {# End of container.row.col-md-8 #}

      {% include "includes/side-widgets.html" with categories=categories %}
    </div> {# End of container.row #}
  </div> {# End of container #}
{% endblock content %}
