{# That template related to both update and create post request #}

{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8">
        {# Page main title #}
        <h4 class="mb-3">{{ title }}</h4>

        {{ form.media }}

        {# Create post form #}
        <form action="." method="POST">
          {% csrf_token %}
          {% for field in form %}

            {# Set different style for different form fields #}
            {% if field.name == 'title' %}
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                  {{ form.title|add_class:"form-control" }}
                </div>
              </div>

              {% elif field.name == 'categories' %}
                <h5>Categories</h5>
                {% for category in categories  %}
                  <div class="custom-control custom-checkbox">
                    <input value="{{ category.id }}" name="{{ form.categories.name }}"
                    type="checkbox" class="custom-control-input" id="{{ category.id }}"
                    {% if category.id in form.categories.value %}checked{% endif %}>
                    <label class="custom-control-label" for="{{ category.id }}">{{ category }}</label>
                  </div>
                {% endfor %}

              {% else %}
              <div class="mb-3">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                {# Field errors #}
                {% if field.errors %}
                  <small class="form-text text-danger">{{ field.errors }}</small>
                {% endif %}
              </div>
            {% endif %} {# End of set different style for different form fields #}
          {% endfor %} {# End of looping over form fields #}

          {# On update request from post.views.post_from #}
          {% if request.resolver_match.url_name == 'update' %}
            <button class="btn btn-primary btn-lg btn-block" type="submit">Update post</button>
          {# On create request from post.views.post_from #}
          {% else %}
            <button class="btn btn-primary btn-lg btn-block" type="submit">Create post</button>
          {% endif %}
        </form>
      </div> {# End of container.row.col-md-8 #}

      {# Side widget #}
      {% include "includes/side-widgets.html" %}

    </div> {# End of container.row #}
  </div>  {# End of container #}
{% endblock content %}
