{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        {# Page main title #}
        <h1 class="my-4">{{ title }}</h1>
        {% if posts %}
          {% for post in posts  %}
            <div class="card mb-4">
              {% if post.thumbnail %}
                <img class="card-img-top" src="{{ post.thumbnail.url }}">
              {% endif %}
              <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.overview }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                <span class="btn btn-light disabled">Posted on {{ post.timestamp.date }}</span>
                {# If user is the post author, show CRUD operations  #}
                {% if post.author.name == user.author.name %}

                  {# Delete post button #}
                  <span class="btn btn-danger float-right mx-2"
                    data-toggle="modal" data-target="#deleteModal">
                    Delete forever
                  </span>
                  {# Confirmation message, appears on delete button click #}
                  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        {# Message #}
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                          Are you sure to delete <b>{{ post.title }}</b> post!!
                          </h5>
                        </div>
                        <div class="modal-footer">
                          {# Message dismiss button #}
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep and dismiss</button>
                          {# Confirm deletion button #}
                          <a href="{{ post.get_delete_url }}" role="button" class="btn btn-danger">Delete forever</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  {# Update post button #}
                  <a href="{{ post.get_update_url }}" role="button" class="btn btn-primary float-right mx-2">Update post</a>
                {% endif %} {# End of if user is the post author condition #}

              </div>
            </div>
          {% endfor %} {# End of looping over each post #}

        {# Message to show if there is no posts, or no match on search #}
        {% else %}
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h1 class="card-title">Sorry, there is no match.</h1>
              <p class="card-text">
                Try another query or go to <a href="{% url 'posts:home_page' %}">Home</a>
              </p>
            </div>
          </div>
        {% endif %}

        {# Paginate the posts #}
        {% include "includes/paginator.html" with posts=posts %}
      </div> {# End of container.row.col-md-8 #}

      {% include "includes/side-widgets.html" with categories=categories %}
    </div> {# End of container.row #}
  </div> {# End of container #}
{% endblock content %}
