{# This template mutual between post_search, post_related_to_author, post_filter_by_category and post_list #}

{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">

      <div class="col-md-8">

        <h1 class="my-4">{{ title }}</h1>

        {% if posts %}
          {% for post in posts  %}
            <div class="card mb-4">
              {% if post.thumbnail %}
                <img class="card-img-top" src="{{ post.thumbnail.url }}">
              {% endif %}
              <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                <span class="btn btn-light disabled">Posted on {{ post.created_time.date }}</span>
              </div>
            </div>
          {% endfor %}

        {# Message to show if there is no posts, or no match on search #}
        {% else %}
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h1 class="card-title">Sorry, there is no match.</h1>
              <p class="card-text">
                Try another query or go to <a href="{% url 'post_list' %}">Home</a>
              </p>
            </div>
          </div>
        {% endif %}

        {# Pagination #}
        {% include "includes/paginator.html" with queryset=posts %}
      </div> {# End of col-md-8 #}

      {% include "includes/side-widgets.html" with categories=categories %}
    </div> {# End of row #}
  </div> {# End of container #}
{% endblock content %}
