{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <h1 class="mt-4">{{ post.title }}</h1>
        <p>Posted on {{ post.created_time.date }}</p>
        <img class="img-fluid" src="{{ post.thumbnail.url }}">
        {{ post.content|safe }}

        <h2>Comments</h2>

        {# Comments Form #}
        {% if user.is_authenticated %}
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form method="POST" action="{% url "comment_create" post.id %}">
                {% csrf_token %}
                <div class="form-group">
                  <textarea class="form-control" rows="3" name="content"></textarea>
                </div>
                <button class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        {% else %}
          <p><a href="{% url 'accounts_login' %}">Login</a> to add commnet.</p>
        {% endif %}

        {# Comment list #}
        {% for comment in post.comment_set.all %}
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="{% static 'img/default.jpg' %}" style="width:50px;">
            <div class="media-body">
              <h5 class="mt-0" id="{{ comment.id }}">
                {{ comment.username }}</h5>
                {{ comment.content }}
            </div>
          </div>
        {% endfor %}
      {# ./col-lg-8 #}
      </div>

      {% include "includes/side-widgets.html" with categories=categories %}

    {# ./row #}
    </div>
  {# ./container #}
  </div>

{% endblock content %}
